
<div class="card" >
    <div class="card-header card-header-danger mat-dialog-title">
        <h4 class="card-title ">Modifier Medicament</h4>
    </div>
  
    <form  (ngSubmit)="submit()" #formControl="ngForm">
  
        <div class="form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="libelle" value="{{data.medicament.libelle}}" [(ngModel)]="data.medicament.libelle" name="libelle">
            </mat-form-field>
        </div>
  
        <div class="form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="categorie" value="{{data.medicament.categorie}}" [(ngModel)]="data.medicament.categorie" name="categorie">
            </mat-form-field>
        </div>
  
        <div class="form">
            <mat-form-field >
                <input matInput placeholder="prix" [(ngModel)]="data.medicament.prix" value="{{data.medicament.prix}}" name="prix">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field >
                <input matInput placeholder="quantite" [(ngModel)]="data.medicament.quantite" value="{{data.medicament.quantite}}" name="quantite">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field >
                <input matInput placeholder="date" [(ngModel)]="data.medicament.date" value="{{data.medicament.date}}" name="date">
            </mat-form-field>
        </div>
  
        <div mat-dialog-actions>
            <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="editMed()" class="btn btn-danger pull-right">Modifier</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
        </div>
    </form>
  
  </div>
  