<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="/medicaments">MiniProjet</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/medicaments" routerLinkActive="active" *ngIf="isAuthenticated()">Medicaments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fournisseurs" routerLinkActive="active" *ngIf="isAuthenticated()">Fournisseurs</a>
      </li>
    </ul>
    <a class="btn btn-outline-dark" routerLink="/login" *ngIf="!isAuthenticated()">Login Page</a>
    <a class="btn btn-outline-dark"  *ngIf="isAuthenticated()" (click)="onLogout()">Logout</a>
  </div>
</nav>
