<div class="card">
  <div class="card-header card-header-danger mat-dialog-title">
    <h4 class="card-title ">Ajouter Fournisseur</h4>
  </div>

  <form (ngSubmit)="submit()" #formControl="ngForm">

    <div class="form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="nom" [(ngModel)]="data.nom" name="nom">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="email" [(ngModel)]="data.email" name="email">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="adresse" [(ngModel)]="data.adresse" name="adresse">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="telephone" [(ngModel)]="data.telephone" name="telephone">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="addFournisseur()"
              class="btn btn-danger pull-right">Ajouter
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>
  </form>

</div>
